<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
  <plugin>
    <extension
          id="jamonnature"
          name="Jamon Project Nature"
          point="org.eclipse.core.resources.natures">
       <requires-nature id="org.eclipse.jdt.core.javanature"/>
       <builder id="org.jamon.project.templateBuilder"/>
       <builder id="org.jamon.project.markerUpdater"/>
       <runtime>
          <run class="org.jamon.eclipse.JamonNature"/>
       </runtime>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             adaptable="true"
             class="org.jamon.eclipse.JamonProjectPropertyPage"
             id="org.jamon.project.JamonProjectPropertyPage"
             name="Jamon"
             objectClass="org.eclipse.core.resources.IProject">
          <filter
                name="nature"
                value="org.eclipse.jdt.core.javanature"/>
       </page>
    </extension>
    <extension
          id="templateBuilder"
          name="Jamon Template Builder"
          point="org.eclipse.core.resources.builders">
       <builder hasNature="true">
          <run class="org.jamon.eclipse.TemplateBuilder"/>
       </builder>
    </extension>
    <extension
          id="markerUpdater"
          name="Jamon Marker Updater"
          point="org.eclipse.core.resources.builders">
       <builder hasNature="true">
          <run class="org.jamon.eclipse.MarkerUpdaterBuilder"/>
       </builder>
    </extension>
    <extension
          id="preferences"
          name="preferences"
          point="org.eclipse.core.runtime.preferences">
       <scope
             class="org.eclipse.core.internal.resources.ProjectPreferences"
             name="project"/>
    </extension>
       <extension
         id="jamonEditor"
         name="Jamon Template Editor"
         point="org.eclipse.ui.editors">
        <editor
             class="org.jamon.eclipse.JamonEditor"
             contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
             extensions="jamon"
             icon="icons/jamon.gif"
             id="org.jamon.eclipse.editor"
             name="Jamon Template Editor">
      </editor>
   </extension>
       <extension
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="org.jamon.project.popup.switchToProxy"
                targetID="org.jamon.project.editorContext">
             <action
                   class="org.jamon.eclipse.popup.SwitchToProxyAction"
                   enablesFor="*"
                   id="org.jamon.eclipse.popup.actions.switchToProxy"
                   label="Switch to Proxy"
                   menubarPath="additions"/>
          </viewerContribution>
       </extension>
       <extension
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="org.jamon.project.popup.switchToImpl"
                targetID="org.jamon.project.editorContext">
             <action
                   class="org.jamon.eclipse.popup.SwitchToImplAction"
                   enablesFor="*"
                   id="org.jamon.eclipse.popup.actions.switchToImpl"
                   label="Switch to Impl"
                   menubarPath="additions"/>
          </viewerContribution>
       </extension>
       <extension
             id="org.jamon.project.popup.switchToTemplate"
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="org.jamon.project.popup.switchToTemplate"
                targetID="#CompilationUnitEditorContext">
             <action
                   class="org.jamon.eclipse.popup.SwitchToTemplateAction"
                   icon="icons/jamon.gif"
                   id="org.jamon.eclipse.popup.actions.switchToTemplate"
                   label="Switch to Jamon Template"
                   menubarPath="group.open"/>
          </viewerContribution>
       </extension>
       <extension
             id="parentMarker"
             name="Parent Marker"
             point="org.eclipse.core.resources.markers">
          <super type="org.eclipse.core.resources.problemmarker"/>
       </extension>
       <extension
             id="proxyMarker"
             name="Java Proxy marker"
             point="org.eclipse.core.resources.markers">
          <super type="org.jamon.project.parentMarker"/>
          <persistent value="true"/>
       </extension>
       <extension
             id="implMarker"
             name="Impl Marker"
             point="org.eclipse.core.resources.markers">
          <super type="org.jamon.project.parentMarker"/>
          <persistent value="true"/>
       </extension>
       <extension
             id="jamonMarker"
             name="Jamon Marker"
             point="org.eclipse.core.resources.markers">
          <super type="org.jamon.project.parentMarker"/>
          <persistent value="true"/>
       </extension>
       <extension
             id="org.jamon.eclipse.editor.document_setup_participant"
             name="Editor Participant"
             point="org.eclipse.core.filebuffers.documentSetup">
          <participant
                class="org.jamon.eclipse.editor.JamonDocumentSetupParticipant"
                extensions="jamon"/>
       </extension>
       <extension
             point="org.eclipse.ui.themes">
          <themeElementCategory
                id="org.jamon.themes"
                label="Jamon"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.args.background"
                isEditable="true"
                label="Jamon args background"
                value="255,255,244"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.args.foreground"
                isEditable="true"
                label="Jamon args foreground"
                value="64,64,224"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.java.background"
                isEditable="true"
                label="Jamon java background"
                value="240,252,232"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.java.foreground"
                isEditable="true"
                label="Jamon java foreground"
                value="32,127,127"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.java_line.background"
                isEditable="true"
                label="Jamon java_line background"
                value="240,252,232"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.java_line.foreground"
                isEditable="true"
                label="Jamon java_line foreground"
                value="32,127,127"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.emit.background"
                isEditable="true"
                label="Jamon emit background"
                value="240,248,240"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.emit.foreground"
                isEditable="true"
                label="Jamon emit foreground"
                value="127,64,64"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.class.background"
                isEditable="true"
                label="Jamon class background"
                value="224,255,224"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.class.foreground"
                isEditable="true"
                label="Jamon class foreground"
                value="32,127,127"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.import.background"
                isEditable="true"
                label="Jamon import background"
                value="224,255,224"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.import.foreground"
                isEditable="true"
                label="Jamon import foreground"
                value="64,224,64"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.while.background"
                isEditable="true"
                label="Jamon while background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.while.foreground"
                isEditable="true"
                label="Jamon while foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.while_close.background"
                isEditable="true"
                label="Jamon while_close background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.while_close.foreground"
                isEditable="true"
                label="Jamon while_close foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.for.background"
                isEditable="true"
                label="Jamon for background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.for.foreground"
                isEditable="true"
                label="Jamon for foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.for_close.background"
                isEditable="true"
                label="Jamon for_close background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.for_close.foreground"
                isEditable="true"
                label="Jamon for_close foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.if.background"
                isEditable="true"
                label="Jamon if background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.if.foreground"
                isEditable="true"
                label="Jamon if foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.if_close.background"
                isEditable="true"
                label="Jamon if_close background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.if_close.foreground"
                isEditable="true"
                label="Jamon if_close foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.else.background"
                isEditable="true"
                label="Jamon else background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.else.foreground"
                isEditable="true"
                label="Jamon else foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.elseif.background"
                isEditable="true"
                label="Jamon elseif background"
                value="224,248,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.elseif.foreground"
                isEditable="true"
                label="Jamon elseif foreground"
                value="0,127,255"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.alias.background"
                isEditable="true"
                label="Jamon alias background"
                value="255,240,240"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.def.background"
                isEditable="true"
                label="Jamon def background"
                value="224,208,208"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.def_close.background"
                isEditable="true"
                label="Jamon def_close background"
                value="224,208,208"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.method.background"
                isEditable="true"
                label="Jamon method background"
                value="208,208,224"/>
          <colorDefinition
                categoryId="org.jamon.themes"
                id="org.jamon.theme.method_close.background"
                isEditable="true"
                label="Jamon method_close background"
                value="208,208,224"/>
       </extension>
</plugin>
